<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
<connectionStrings>
  <add name="con" connectionString="Data Source=cbff73b5-9847-479d-845e-a40200b101c4.sqlserver.sequelizer.com;Initial Catalog=dbcbff73b59847479d845ea40200b101c4;User ID=sfoyidouoevifngi;Password=qyNMLE2CBNEhAzLmmVUXUdCGM7jAzPAfJNbr3jrktfEPKyuiGNiySAGn4faMvzcV"/>
</connectionStrings>
    <system.web>
      <compilation debug="false" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
