<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
<connectionStrings>
  <add name="con" connectionString="Data Source=ce290db8-c551-41b9-92e5-a40200ba1fff.sqlserver.sequelizer.com;Initial Catalog=dbce290db8c55141b992e5a40200ba1fff;User ID=fkntkihamomqnuzf;Password=Kb2UEbvifVvWjLX3dRBm3HRnvg4i63PgiVcuFqpkdvNL7CY2TJKWtSsbrNxxgmmm"/>
</connectionStrings>
    <system.web>
      <compilation debug="false" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
